<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form [formGroup]="registerForm" (ngSubmit)="registerUser()">
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>

              <h3>Personal Information</h3>
              <div formGroupName="personalInfo">
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input formControlName="nombres" autocomplete="given-name" cFormControl placeholder="Nombres" />
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input formControlName="apellido" autocomplete="family-name" cFormControl placeholder="Apellido" />
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilIdCard"></svg>
                  </span>
                  <input formControlName="cedula" autocomplete="off" cFormControl placeholder="Cédula" />
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilPhone"></svg>
                  </span>
                  <input formControlName="telefono" autocomplete="tel" cFormControl placeholder="Teléfono" />
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilGroup"></svg>
                  </span>
                  <input formControlName="voceria" autocomplete="organization" cFormControl placeholder="Vocería" />
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilHome"></svg>
                  </span>
                  <input formControlName="comuna" autocomplete="address-level3" cFormControl placeholder="Comuna" />
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilHome"></svg>
                  </span>
                  <input formControlName="consejoComunal" autocomplete="address-level2" cFormControl
                    placeholder="Consejo Comunal" />
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilMap"></svg>
                  </span>
                  <input formControlName="manzana" autocomplete="address-line2" cFormControl placeholder="Manzana" />
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLocationPin"></svg>
                  </span>
                  <input formControlName="direccion" autocomplete="address-line1" cFormControl
                    placeholder="Dirección" />
                </c-input-group>
              </div>

              <h3>Account Information</h3>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input formControlName="email" autocomplete="email" cFormControl placeholder="Email" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input formControlName="password" autocomplete="new-password" cFormControl placeholder="Password"
                  type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input formControlName="confirmPassword" autocomplete="new-password" cFormControl
                  placeholder="Repeat password" type="password" />
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" type="submit">Create Account</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
